export(analysis_suite_dir)
export(install_analysis_suite)
export(is_analysis_suite_installed)
export(reload_analysis_suite)
export(test_analysis_suite)
exportPattern("^[^\\.]")
import(RANN)
import(igraph)
import(nat.utils)
import(rgl)
importFrom(httr,GET)
importFrom(httr,HEAD)
importFrom(httr,config)
importFrom(httr,content)
importFrom(httr,stop_for_status)
