export(analysis_suite_dir)
export(install_analysis_suite)
export(reload_analysis_suite)
exportPattern("^[^\\.]")
importFrom(httr,GET)
importFrom(httr,HEAD)
importFrom(httr,config)
importFrom(httr,content)
importFrom(httr,stop_for_status)
